.txthead{
	color:coral;
	
}

.real{
	top:40%;
	}
	.fontimg{
	font-size:50px;
	border-radius:50%;
	width: 100px;
    height:100px;
    background-color: coral;
	}
	.fontimg:hover{
	background-color:bisque;
	
	}
	.cardcolor{
	background-color:black;
	}
	
	.cardcolor:hover{
	background-color:coral;
	}
	.txtheight{
		font-family: sans-serif;
        color: black;
        position: relative;
	}
	
		.bgimg{
			background-color:coral;
			padding-bottom:100px;
			margin-top:40px;
			
		}
		.para{
			margin-top:100px;
			
		}
		.btnback{
			background-color:black;
			margin-top:120px;
		    padding:10px;
			margin-left:50px;
		
		
			
		}
		
		.conimg{
			 background:url("https://cdn.pixabay.com/photo/2016/09/22/11/55/kitchen-1687121_960_720.jpg");
			
		}
		.btncar{
			background-color:coral;
			
		}
		.icon{
			font-size:50px;
			color:coral;
			}
		.lists{
				list-style:none;
			}
		.propfeature{
				list-style:none;
                position:absolute;
                top:24px;
				}
		.propfeature span{
			background-color:black;
			margin-left:15px;
			padding:6px;
		}
		.proprooms{
			list-style:none;
			
		}
		.proprooms span{
			margin-left:5px;
			padding-right:15px;
		}
		.txtcolor{
			color:coral;
		}
		.cardicon{
			list-style:none;
		}
		.cardicon li {
            margin-right:15px;
		 }
		 .btnsale{
			 background-color:black;
			 color:white;
		 }
		 .footericon{
			 margin-left:50px;
		 }
		 .footericon li{
			 float:left;
			 list-style:none;
			 padding:10px;
		 }
		 .footericon i{
			 border-radius:75px;
			 height:50px;
			 width:50px;
			 border-style:solid;
			 display:inline-block;
			 font-size:20px;
			 text-align:center;
			 padding:9px;
			 
		 }
		 .footericon i:hover{
			 background-color:coral;
			 border:coral solid;
		 }
		 .arrowicon{
			 font-size:40px;
		 }
		 .line{
			 margin-left:320px;
			 text-align:center;
			 color:#fd7e14;
			 max-width:700px;
			 position:relative;
		 }
		 .line:before{
			 content:"";
			 display:block;
			 width:150px;
			 height:2px;
			 background:#fd7e14;
			 left:85px;
			 top:50%;
			 position:absolute;
		 }
		 .line:after{
			 content:"";
			 display:block;
			 width:150px;
			 height:2px;
			 background:#fd7e14;
			 right:85px;
			 top:50%;
			 position:absolute;
		 }
		 
		 .RecentProperties{
			 overflow:hidden;
			 position:relative;
			 float:left;
			 display:inline-block;
			 cursor:pointer;
		 }
		  .RecentProperties img{
			  background-size:cover;
			  background-repeat:no-repeat;
			  -webkit-transition:all .5s;
			  -moz-transition:all .5s;
			  -o-transition:all .5s;
			  transition:all .5s;
			  }
			  .RecentProperties:hover img, .RecentProperties:focus img{
				  -ms-transform:scale(1.2);
				  -moz-transform:scale(1.2);
				  -o-transform:scale(1.2);
				  transform:scale(1.2);
			  }
.elan {
    text-align: left;
    padding: 40px;
    color: coral;
}

ol.breadcrumb {
    list-style: none;
    background: black;
}

    ol.breadcrumb li a {
        color: white;
    }
.sale {
    list-style: none;
}

.cardicon {
    list-style: none;
}

    .cardicon li {
        margin-right: 15px;
    }
    .roundedimg{
	border-radius:50px;
	width:100px;
	height:100px;
}